{% load static %}
<footer class="ml-6 mr-6 pt-1 footer">
    <hr class="navbar-divider">
    <div class=" content is-flex is-justify-content-space-between ">
        <p>
            Использование материалов сайта в коммерческих целях<br>
            без согласия НФИ КемГУ запрещено<br>

            При использовании материалов как полностью,<br>
            так и частично, ссылка на сайт обязательна. <br>
            © 1995-2021 г.
        </p>
        <p>
            <img src="{% static 'base/MES_emblem.png' %}" alt="" style="width: 100px">
        </p>
        <p>
            Сведения о доходах, об имуществах и обязательствах<br>
            имущественного характера
        </p>
    </div>
</footer>