{% extends 'main.html' %}

{% load static %}
{% block content %}
<div class="column is-12">
    <div class="card">
        <div class="card-content">
            <nav class="breadcrumb has-bullet-separator" aria-label="breadcrumbs">
                <ul>
                    <li><a href="/">Расписание</a></li>
                    <li><a href="/faculties">Факультеты</a></li>
                    <li><a href="/faculties/{{items.0.slug}}/">{{items.0.short_name}}</a></li>
                    <li><a href="/faculties/{{items.0.slug}}/{{items.1.slug}}">{{items.1.short_name}}</a></li>
                    <li><a href="/faculties/{{items.2.slug}}/" class="disabled">{{items.2}}</a></li>
                </ul>
            </nav>
            <div class="content">
                {% include 'base/table.html' %}
            </div>
        </div>
    </div>
</div>

<div class="column">
</div>
<div class="column"></div>
<div class="column"></div>
<div class="column"></div>
<div class="column"></div>
<div class="column"></div>
<div class="column"></div>
<div class="column"></div>
<div class="column"></div>
<div class="column"></div>
<div class="column"></div>

{% endblock %}