{% load define_action %}
<table class="table is-bordered is-striped is-hoverable is-narrow">

    <caption class="has-text-weight-bold mb-4 has-text-black has-text-left is-size-3">
        {% if items.2 %}{{items.2}}{% else %}{{teach.surname}} {{teach.firstname}} {{teach.patronymic}}{% endif %} <span
            class="is-size-5 has-text-right has-text-primary	">
            {{page_obj.number}} неделя</span>
    </caption>
    <thead>
        <tr>
            <th colspan="2" class="has-text-left is-size-5">День недели</th>
            <th class="is-size-5">Предмет</th>
            <th class="is-size-5">Аудитория</th>
        </tr>
    </thead>
    <tbody>
        {% for page in page_obj %}
        {% for weekday in page %}
        {% with i=0 %}
        {% for day in weekday.week %}
        <tr>
            {% if i == 0 %}
            <th rowspan="{{weekday.week|length}}" class="is-size-5 has-text-left">{{day.day.week|date:"D"}}</th>
            {% define 1 as i %}
            {% endif %}
            <td class="is-narrow ">{{day.lesson}}</td>
            <td>{{day.id_name}}, <a href="/teachers/{{day.teacher.slug}}">{{day.teacher}}</a>,
                {{day.lesson_type}} </td>
            <td class="is-narrow"><abbr
                    title="{{day.auditory}}">{{day.auditory.num_auditory}}/{{day.auditory.building.enclosure}}</abbr>
            </td>
        </tr>
        {% endfor %}
        {% define 0 as i%}
        {% endwith %}
        {% endfor %}
        {% endfor %}
    </tbody>
</table>