{% extends 'main.html' %}

{% block content %}

<div class="column is-12">
    <div class="card">
        <div class="card-content">
            <div class="ml-6 mr-6 content is-flex ">
                {% include 'base/table.html' %}
            </div>
            {% include 'pagination.html' %}

        </div>
    </div>
</div>

<div class="column">
</div>
<div class="column"></div>
<div class="column"></div>
<div class="column"></div>
<div class="column"></div>
<div class="column"></div>
<div class="column"></div>
<div class="column"></div>
<div class="column"></div>
<div class="column"></div>
<div class="column"></div>

{% endblock %}